<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="style.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
   </head>

   <body>
      <div>
        <h2>FCC Backend Project #2: Request Header Parser Microservice</h2>
        <h3>User Story: </h3>
        <ol>
          <li>I can get the IP address, preferred languages (from header <code>Accept-Language</code>)<br> 
          and system infos (from header <code>User-Agent</code>) for my device.
        </li>
        </ol>
        <h3>How to Use:</h3>
        <p><code>[base url]/api/whoami</code></p>
        <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
      </div>
      <footer>
        <p>
         A <a href="https://freecodecamp.org">Free Code Camp</a> Backend Project: <br> made with Node, express, ejs, css
        </p>
      </footer>
   </body>


</html>
